{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplos de Práctica</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <header class="header">
        <!-- BARRA DE NAVEGACION -->
        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="../index">
                    <h1 class="logo__nombre no-margin centrar-texto">Calculadora<span class="logo__bold"> Relacional</span></h1>
                </a>
                <nav class="navegacion">
                    <a href="../faq" class="navegacion__enlace">FAQ</a>
                    <a href="../contacto" class="navegacion__enlace">Contacto</a>
                    <a href="../acerca" class="navegacion__enlace">Acerca de</a>
                </nav>
            </div>
        </div>
    </header>

    <div class="contenedor contenido-principal">
        <main class="main">
            <a class="regreso-menu" href="../practica">← Regresar a Práctica</a>
            <h2 class="centrar-texto">Ejemplos Prácticos</h2>
            <h3>Ejemplo 1 - Escuela</h3>

            <table>
                <tr>
                    <th>Departamento</th>
                </tr>
                <tr>
                    <td>DeptoID</td>
                    <td>Nombre</td>
                    <td>Director</td>
                    <td>Descripcion</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Ingenieria</td>
                    <td>Miguel Velazquez</td>
                    <td>Departamento encargado del area de ingenieria</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Ciencias Sociales</td>
                    <td>Mateo Sousa</td>
                    <td>Departamento encargado del area de ciencias sociales</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Ciencias de la Salud</td>
                    <td>Mercedes Romero</td>
                    <td>Departamento encargado del area de ciencias de la salud</td>
                </tr>
            </table>

            <table>
                <tr>
                    <th>Profesor</th>
                </tr>
                <tr>
                    <td>ProfesorID</td>
                    <td>DeptoID</td>
                    <td>Nombre</td>
                    <td>Direccion</td>
                    <td>Telefono</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>Ildefonso Castillo</td>
                    <td>LEANDRO VALLE NO. 370 S/N, IRAPUATO CENTRO, 36500</td>
                    <td>55849615</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>1</td>
                    <td>Rafael Donoso</td>
                    <td>AV SAN PEDRO NO. 100 Int. F, SAN LUIS POTOSI CENTRO, 78000</td>
                    <td>55742653</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>1</td>
                    <td>Toribio Pizarro</td>
                    <td>BRAVO NO. 726, CENTRO, 91700</td>
                    <td>55423618</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>2</td>
                    <td>Efraín Costa</td>
                    <td>PARQUE NOROESTE NO. 718, EJIDAL, 81283</td>
                    <td>55684832</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>2</td>
                    <td>Ariadna Lerma</td>
                    <td>ORTIZ RUBIO NO. 300 NO. F, TECATE CENTRO, 21400</td>
                    <td>55421463</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>3</td>
                    <td>Esmeralda Chaparro</td>
                    <td>REPUBLICA NO 40 LOCAL 507, PLAZA TAPATIA, 443107</td>
                    <td>55854523</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>3</td>
                    <td>Priscila Bayón</td>
                    <td>CALLE 56 508 ALTOS, MERIDA CENTRO, 97000</td>
                    <td>55874569</td>
                </tr>
            </table>

            <table>
                <tr>
                    <th>Curso</th>
                </tr>
                <tr>
                    <td>CursoID</td>
                    <td>ProfesorID</td>
                    <td>Nombre</td>
                    <td>Nivel</td>
                </tr>
                <tr>
                    <td>101</td>
                    <td>1</td>
                    <td>Calculo</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>102</td>
                    <td>2</td>
                    <td>Algebra Lineal</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>103</td>
                    <td>3</td>
                    <td>Calculo Avanzado</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>201</td>
                    <td>4</td>
                    <td>Historia de Mexico</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>202</td>
                    <td>5</td>
                    <td>Filosofia y Logica</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>301</td>
                    <td>6</td>
                    <td>Introduccion a la Psicologia</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>302</td>
                    <td>7</td>
                    <td>Nutricion</td>
                    <td>2</td>
                </tr>
            </table>
        </main>
    </div>

    <footer class="footer">
        <div class="contenedor">
            <p>Instituto Politécnico Nacional</p>
        </div>
    </footer>
    
</body>
</html>