{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas Frecuentes</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <header class="header">
        <!-- BARRA DE NAVEGACION -->
        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="../index">
                    <h1 class="logo__nombre no-margin centrar-texto">Calculadora<span class="logo__bold"> Relacional</span></h1>
                </a>
                <nav class="navegacion">
                    <a href="../faq" class="navegacion__enlace">FAQ</a>
                    <a href="../contacto" class="navegacion__enlace">Contacto</a>
                    <a href="../acerca" class="navegacion__enlace">Acerca de</a>
                </nav>
            </div>
        </div>
    </header>

    <div class="contenedor contenido-principal">
        <main class="main">
            <h2 class="centrar-texto">Preguntas Frecuentes</h2>

            <div class="bloque-faq">
                <p class="bloque-faq__pregunta">¿Cuál es el objetivo de esta aplicación?</p>
                <p class="respuesta">Brindar apoyo a los usuarios en sus estudios acerca del álgebra relacional.</p>
                <p class="bloque-faq__pregunta">¿Cómo funciona esta aplicacióń?</p>
                <p class="respuesta">Existen dos secciones principales en la aplicación. En la sección de teoría se puede consultar toda la información teórica sobre las operación del álgebra relacional. En la sección de práctica se puede seleccionar una base de datos relacional y ejecutar consultas de álgebra relacional sobre dicha base.</p>
                <p class="bloque-faq__pregunta">¿Cuáles son las operaciones que se pueden ejecutar?</p>
                <p class="respuesta">Por el momento se pueden ejecutar las operaciones de proyección, selección, producto cartesiano, unión y diferencia.</p>
            </div>

        </main>
    </div>

    <!-- <footer class="footer">
        <div class="contenedor">
            <p>Instituto Politécnico Nacional</p>
        </div>
    </footer> -->

</body>
</html>