{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Práctica</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>

    <header class="header">
        <!-- BARRA DE NAVEGACION -->
        <div class="contenedor">
            <div class="barra">
                <a class="logo-practica" href="../../index">
                    <h1 class="logo__nombre no-margin centrar-texto">Calculadora<span class="logo__bold"> Relacional</span></h1>
                </a>
                <nav class="navegacion">
                    <a href="../../faq" class="navegacion__enlace">FAQ</a>
                    <a href="../../contacto" class="navegacion__enlace">Contacto</a>
                    <a href="../../acerca" class="navegacion__enlace">Acerca de</a>
                </nav>
            </div>
        </div>
    </header>

    <div class="contenedor contenido-principal">
        <main class="main">
            <a class="regreso-menu" href="../../index">← Regresar al Menú Principal</a>
            <h2 class="centrar-texto">Práctica</h2>
            {% if success == True %}
            <ul class="alert alert-success alert-dismissible">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong>{{ successmsg }}</strong>
            </ul>
            {% endif %}
            {% if success == False %}
            <ul class="alert alert-danger alert-dismissible">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong>{{ successmsg }}</strong>
            </ul>
            {% endif %}
            <div class="herramienta-descripcion">
                <h3 class="centrar-texto">¿Cómo usar esta herramienta?</h3>
                <p>Puedes cargar tu propia base de datos relacional o elegir uno de los ejemplos que ya tenemos precargados. Para revisar la estructura de los ejemplos precargados, haz click <a class="enlace-texto" href="../ejemplos">aqui</a>.</p>
                <p>Para escribir tu expresión de álgebra relacional, existe un botón para cada una de las operaciones que la herramienta soporta. Finalmente envía tu consulta y el resultado será una tabla con los registros que cumplan con tu expresión.</p>
            </div>
            <div class="seleccion-archivo">
              <h3 class="centrar-texto">Carga tu propia base de datos</h3>  
              <div class="subir-archivo">
                <form action='/practica/subir-archivo/' method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <input type="file" name="document">
                  <button type = "submit">Cargar Archivo</button>
                </form>
              </div>

              <h4 class="centrar-texto">O escoge un archivo precargado</h4>
              <div class="subir-archivo">
                <form class="seleccion-archivo__boton" action="../../practica/archivo-seleccion" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="nombre_bd" value="{{nombre_bd}}">
                  <input type="hidden" name="nombre_usuario_db" value="{{nombre_usuario_db}}">
                    <select name="nombre_bd_2" >
                      {% for archivo in lista_de_archivos %}
                        <option value="{{archivo}}">
                          {{archivo}}
                      {% endfor %}
                    </select>
                    <input type="submit" value="Selecccionar">
                </form>
              </div>
            </div>
            <div class="herramienta-botones">
                <button class="herramienta-botones__boton" id="seleccion">σ</button>
                <button class="herramienta-botones__boton" id="proyeccion">π</button>
                <button class="herramienta-botones__boton" id="producto">X</button>
                <button class="herramienta-botones__boton" id="union">∪</button>
                <!-- <button class="herramienta-botones__boton" id="interseccion">∩</button> -->
                <button class="herramienta-botones__boton" id="diferencia">-</button>
                <button class="herramienta-botones__boton" id="conjuncion">&and;</button>
                <button class="herramienta-botones__boton" id="disyuncion">&or;</button>
            </div>
            <form action='/practica/consulta/' method='POST'>
                {% csrf_token %}
                <div class="herramienta-expresion">
                    <p>Escribe tu expresión de álgebra relacional</p>
                    <input id='consulta' class="herramienta-expresion__input" type='text' name="tu_consulta">
                    <input id='usuario' type="hidden" name="nombre_bd" value="{{nombre_bd}}">
                    <input type="hidden" name="nombre_usuario_db" value="{{nombre_usuario_db}}">
                    <input type="hidden" name="nombre_bd_2" value="{{nombre_bd_2}}">
                    <button class="borrar-consulta" id="borrar-consulta">Borrar</button>
                    <button type="submit" formtarget="_blank" class="enviar-consulta">Enviar consulta</button>
                </div>
          </form>
        </main>
    </div>

    <footer class="footer">
        <div class="contenedor">
            <p>Instituto Politécnico Nacional</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>
