{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Práctica</title>
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/practica.css' %}">
</head>
<body>
    <nav>
        <ul id="menu-list">
            <li class="menu-item"><a href="../index" id="selected" class="menu-item-link">¿Qué hacer?</a></li>
            <li class="menu-item"><a href="../faq" class="menu-item-link">FAQ</a></li>
            <li class="menu-item"><a href="../contact" class="menu-item-link">Contacto</a></li>
            <li class="menu-item"><a href="../about" class="menu-item-link">Acerca de</a></li>
        </ul>
    </nav>

    <div id="contenedor"><a href="../index" id="regresar-menu"> ← Regresar a Menú Principal</a></div>

    <h1 class="titulo-principal">Práctica</h1>

    <section id="explicacion-herramienta">
        <h2>¿Cómo usar esta herramienta?</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem facere quis explicabo saepe quibusdam repellendus voluptas?
        Ab culpa omnis doloremque molestias eius, dolore qui minus numquam natus. Et, cum ad?</p>
    </section>

    <section id="seleccionar-archivo">
        <h2>Arrastra y suelta tu archivo SQL hasta aquí</h2>
        <button>Cargar Archivo</button>
        <h3>O escoge un archivo precargado</h3>
        <form action="">
            <select name="ejemplos" id="ejemplosPracticos">
                <option value=""></option>
                <option value="archivo1">Archivo1</option>
                <option value="archivo2">Archivo2</option>
                <option value="archivo3">Archivo3</option>
            </select>
        </form>
    </section>

    <section id="escribir-consulta">
        <ul>
            <li>σ</li>
            <li>π</li>
            <li>⋈</li>
            <li>X</li>
            <li>∪</li>
            <li>∩</li>
            <li>-</li>
        </ul>

        <form action="">
            <label for="expresion">Escribe tu expresión de álgebra relacional</label>
            <input type="text" id="expresion" name="expresion">
            <input type="submit" value="Enviar Consulta">
        </form>
    </section>

    <footer>
        <p>Instituto Politécnico Nacional</p>
    </footer>
</body>
</html>
