{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selección</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/operacion-teoria.css' %}">
</head>

<body>
    <nav>
        <ul id="menu-list">
            <li class="menu-item"><a href="../../index" id="selected" class="menu-item-link">¿Qué hacer?</a></li>
            <li class="menu-item"><a href="../../faq" class="menu-item-link">FAQ</a></li>
            <li class="menu-item"><a href="../../contact" class="menu-item-link">Contacto</a></li>
            <li class="menu-item"><a href="../../about" class="menu-item-link">Acerca de</a></li>
        </ul>
    </nav>

    <div id="contenedor"><a href="../../teoria" id="regresar-menu"> ← Regresar a Operaciones</a></div>

    <h1 class="titulo-principal">Selección</h1>

    <section id="info-teoria-operacion">
        <p id="simbolo-operacion">σ</p>
        <p class="descripcion-operacion">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque dignissimos temporibus nobis nesciunt, necessitatibus, facere
            exercitationem voluptate eos ex ut repudiandae. Eveniet sunt, eaque minus ratione maiores quasi iure! Distinctio?</p>
    </section>

    <section id="ejemplo-teoria-operacion">
        <h2 class="titulo-principal">Ejemplo</h1>
    </section>

    <footer>
        <p>Instituto Politécnico Nacional</p>
    </footer>

</body>
</html>
