{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teoría - Proyeccion</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <header class="header">
        <!-- BARRA DE NAVEGACION -->
        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="../../index">
                    <h1 class="logo__nombre no-margin centrar-texto">Calculadora<span class="logo__bold"> Relacional</span></h1>
                </a>
                <nav class="navegacion">
                    <a href="../../faq" class="navegacion__enlace">FAQ</a>
                    <a href="../../contacto" class="navegacion__enlace">Contacto</a>
                    <a href="../../acerca" class="navegacion__enlace">Acerca de</a>
                </nav>
            </div>
        </div>
    </header>

    <div class="contenedor contenido-principal">
        <main class="main">
            <a class="regreso-menu" href="../../teoria">← Regresar al Menú de Teoría</a>
            <h2 class="centrar-texto">Proyección</h2>
            <p class="icono-operacion centrar-texto">π</p>
            <p class="descripcion-teoria">La operación proyección devuelve únicamente los argumentos seleccionados sobre una relación, es decir, actúa como un filtro de las columnas deseadas, eliminando incluso los atributos duplicados. Se denota por la letra griega minúscula pi. Como subíndice de pi, se listan todos los atributos que se desea que aparezcan en la relación de resultado. Su único argumento es la relación sobre la que se actúa, por lo tanto, los atributos que se indican como subíndice deben estar contenidos en dicha relación[1]. La sintaxis correcta de una selección sobre una relación es la siguiente:</p>
            <p>$$\Pi_{(atributos)}(Relaci\acute{o}n)$$</p>
            <div class="ejemplo">
                <h3 class="centrar-texto">Ejemplo</h3>
                <p>Dada la siguiente relación:</p>
                <table>
                    <tr>
                        <th>Profesor</th>
                    </tr>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Departamento</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Idelfonso Castillo</td>
                        <td>Ingenieria</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Rafael Donoso</td>
                        <td>Ingenieria</td>
                    </tr>
                </table>
                <p>$$\Pi_{(Nombre)}(Profesor)$$</p>
                <table>
                    <tr>
                        <th>Resultado</th>
                    </tr>
                    <tr>
                        <th>Nombre</th>
                    </tr>
                    <tr>
                        <td>Idelfonso Castillo</td>
                    </tr>
                    <tr>
                        <td>Rafael Donoso</td>
                    </tr>
                </table>
            </div>
        </main>
    </div>

    <footer class="footer">
        <div class="contenedor">
            [1]A. Silberschatz, H. Korth and S. Sudarshan, Fundamentos de bases de datos, 5th ed. Madrid: McGraw-Hill, 2006.
        </div>
    </footer>
    
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</body>
</html>