{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teoría - Unión</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <header class="header">
        <!-- BARRA DE NAVEGACION -->
        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="../../index">
                    <h1 class="logo__nombre no-margin centrar-texto">Calculadora<span class="logo__bold"> Relacional</span></h1>
                </a>
                <nav class="navegacion">
                    <a href="../../faq" class="navegacion__enlace">FAQ</a>
                    <a href="../../contacto" class="navegacion__enlace">Contacto</a>
                    <a href="../../acerca" class="navegacion__enlace">Acerca de</a>
                </nav>
            </div>
        </div>
    </header>

    <div class="contenedor contenido-principal">
        <main class="main">
            <a class="regreso-menu" href="../../teoria">← Regresar al Menú de Teoría</a>
            <h2 class="centrar-texto">Unión</h2>
            <p class="icono-operacion centrar-texto">∪</p>
            <p class="descripcion-teoria">Al ser una operación binaria, opera sobre dos relaciones, siendo estas sus únicos argumentos. Como resultado se obtiene una relación que contiene todas las tuplas que aparecen en una o en las dos relaciones especificadas. La sintaxis correcta de una unión es la siguiente:</p>
            <p>$$Relaci\acute{o}n1 \cup Relaci\acute{o}n2$$</p>
            <div class="ejemplo">
                <h3 class="centrar-texto">Ejemplo</h3>
                <p>Dada la siguiente relación:</p>
                <table>
                    <tr>
                        <th>Profesor_Subordinado</th>
                    </tr>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Departamento</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Idelfonso Castillo</td>
                        <td>Ingenieria</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Rafael Donoso</td>
                        <td>Ingenieria</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th>Profesor_Jefe</th>
                    </tr>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Departamento</th>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Maria Rosario</td>
                        <td>Ingenieria</td>
                    </tr>
                </table>
                <p>$$Profesor\_Subordinado \cup Profesor\_Jefe$$</p>
                <table>
                    <tr>
                        <th>Resultado</th>
                    </tr>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Departamento</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Idelfonso Castillo</td>
                        <td>Ingenieria</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Rafael Donoso</td>
                        <td>Ingenieria</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>Maria Rosario</td>
                        <td>Ingenieria</td>
                    </tr>
                </table>
            </div>
        </main>
    </div>

    <footer class="footer">
        <div class="contenedor">
            <p>Instituto Politécnico Nacional</p>
        </div>
    </footer>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</body>
</html>