{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teoría</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <header class="header">
        <!-- BARRA DE NAVEGACION -->
        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="../index">
                    <h1 class="logo__nombre no-margin centrar-texto">Calculadora<span class="logo__bold"> Relacional</span></h1>
                </a>
                <nav class="navegacion">
                    <a href="../faq" class="navegacion__enlace">FAQ</a>
                    <a href="../contacto" class="navegacion__enlace">Contacto</a>
                    <a href="../acerca" class="navegacion__enlace">Acerca de</a>
                </nav>
            </div>
        </div>
    </header>

    <div class="contenedor contenido-principal">
        <main class="main">
            <a class="regreso-menu" href="../index">← Regresar al Menú Principal</a>
            <h2 class="centrar-texto">Teoría</h2>
            <div class="opciones-operacion">
                <!-- CUADRO 1 -->
                <div class="operacion__cuadro">
                    <a class="operacion__cuadro--enlace" href="../teoria/seleccion">
                        <p>σ</p>
                        <h3>Selección</h3>
                    </a>
                </div>
                <!-- CUADRO 2 -->
                <div class="operacion__cuadro">
                    <a class="operacion__cuadro--enlace" href="../teoria/proyeccion">
                        <p>π</p>
                        <h3>Proyección</h3>
                    </a>
                </div>
                <!-- CUADRO 3 -->
                <div class="operacion__cuadro">
                    <a class="operacion__cuadro--enlace" href="../teoria/union">
                        <p>∪</p>
                        <h3>Unión</h3>
                    </a>
                </div>
                <!-- CUADRO 4 -->
                <div class="operacion__cuadro">
                    <a class="operacion__cuadro--enlace" href="../teoria/producto">
                        <p>X</p>
                        <h3>Producto Cartesiano</h3>
                    </a>
                </div>
                <!-- CUADRO 5 -->
                <!-- <div class="operacion__cuadro">
                    <a class="operacion__cuadro--enlace" href="../teoria/reunion">
                        <p>⋈</p>
                        <h3>Reunión</h3>
                    </a>
                </div> -->

                <div class="operacion__cuadro">
                    <a class="operacion__cuadro--enlace" href="../teoria/diferencia">
                        <p>-</p>
                        <h3>Diferencia</h3>
                    </a>
                </div>

            </div>
        </main>
    </div>

    <!-- <footer class="footer">
        <div class="contenedor">
            <p>Instituto Politécnico Nacional</p>
        </div>
    </footer> -->

</body>
</html>