.seccion-teoria-practica{
    width: 30%;
    margin: 0 auto;
    list-style: none;
    text-align: center;
    
}

.card{
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(104, 104, 104, 0.048);
    box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
    margin-top: 15px;
}

.cardlink{
    text-decoration: none;
    color: black;
}

.icon{
    width: 10%;
    padding: 10px;
}

.card:hover{
    transform: scale(1.05);
    background-color: rgba(0, 153, 255, 0.109);
}